@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');

.logo {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
  font-size: 2em;
  color: #333;
  text-shadow: 1px 1px 2px #999;
  letter-spacing: 0.05em;
  margin-right: 20px;
}

.menu-links {
  display: inline-block;
}

/* Change the color of the buttons to match the AppBar */
button {
  color: #333;
}